#skills{
  display: flex;
  margin-top: 150px;
  margin-bottom: 150px;
}
 .skills-title {
   font-size: xx-large;
   text-align: center;
   width: 300px;

 }
 .skills-description>p{
  color: gray;
  font-family: sans-serif;
  font-size: x-large;
  line-height: 1.6;
  margin-bottom: 1rem;
}
 .skills-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left:5%;
}
.skills-group{
  display: flex;
  flex-wrap: wrap;
align-items: center;
}
span{
  margin: 2px;
  padding: 5px;
  border-radius: 10%;
  background-color:rgb(229, 234, 236);
}
@media screen and (max-width: 820px) {
  #skills{
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 25px;
  }
  .skills-group{
    display: flex;
    flex-wrap: wrap;
  }
  .skills-container{
    display: flex;
    flex-wrap: wrap;
  }
}