#skills{
  display: flex;
  margin-top: 150px;
  margin-bottom: 150px;
}

 .skills-title {
   font-size: xx-large;
   text-align: center;
   width: 300px;
 }

.skills-container{
    padding-right:10% ;
    padding-left:10% ;
}

.logo-container{
    display: flex;
    flex-wrap: wrap;
}

.logo-container {

}
