.nav-container{
display: flex ;
flex-wrap: wrap;
justify-content: space-between;
background-color: rgb(242, 246, 248);
position: -webkit-sticky;
position: sticky;
top: 0;
height: 70px;
}

.nav-btn-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  justify-content: right;

}

.nav-container> div> img{
padding-top: 10px;
height: 50px;
float: left;
}
.nav-btn-container > div{
    margin:20px;  
}

.nav-btn-container > div > a {
    color: rgb(82, 82, 219);
    text-decoration: none;
    font-size: large;
    font-family:'Lucida Sans';
}
.nav-btn-container > div > a:hover{
    background-color: rgb(125, 173, 236);
}


@media screen and (max-width: 768px) {
 
    .nav-container{
      display: flex;
      height: 170px;
    }

    .nav-btn-container {
        display: flex;
        flex-direction: column;
    }
    .nav-btn-container > div{
        margin:2px;  
    }
    }