#about{
    display: flex;  
    margin-top: 100px;
    margin-bottom: 100px;
}


.name-title{
    text-align: center;
    font-size:xx-large;
}

.job-title{
    text-align: center;
    font-size:x-large;
    color: darkgrey;
    font-weight: bold;
}

.about-container{
    display: flex;
    flex-direction: column;
    padding-right:10% ;
    padding-left:10% ;
    margin-top: 15px;
}

.about-text{
    color: gray;
    font-family: sans-serif;
    font-size: x-large;
    line-height: 1.4;
    font-weight: bold;
}

.my-photo{
    width: 300px;
    height: 350px;
    border-radius: 50%;
    align-self: center;

}

.about-logo{
    height: 30px;
    margin: 10px;

}
.about-logo-email{
    height: 35px;
    margin: 10px;
}

.about-logo-container{
    display: flex;
    justify-content:center;
}

